*{
    margin: 0;
    padding:0;
    font-family:'poppins',sans-serif;
    box-sizing: border-box;
}
body{
     background-color: rgb(22, 18, 18);
   
}
.card{
    align-items: center;
    background:linear-gradient(135deg,#00feba,#5b548a) ;
    color: #fff;
    width: 90%;
    max-width: 480px;
    border-radius: 20px;
    margin: 100px auto 0 ;
    padding: 40px 35px;
    text-align: center;
    
}
.searchbox{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  

}
.searchbox input{
    border: 0;
    outline: 0;
    border-radius: 30px;
    padding:10px 25px;
    height: 60px;
    background-color: #ebfffc;
    color: #555;
    width: 330px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}
.searchbox button{
    border: 0;
    outline: 0;
    background: #ebfffc;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
}
.searchbox button img{
    width: 16px;
}
.main{
    margin-top: 30px;
    /* border: 2px solid red; */
}
.main h1{
    font-size: 70px;
    font-weight: 500;
    /* border: 2px solid red; */
}
.main h2{
    font-size: 40px;
    font-weight: 400;
    margin-top: -10px;
}
.details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    padding: 0 15px;
}
.col{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.col img{
    width: 40px;
    margin-right: 10px;
}
.humidity-temp,.wind-speed{
    font-size: 28px;
    margin-top: -6px;
}
.main{
    display: none;
}
.error{
    text-align: left;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 16px;
   display: none;
}